<div class="container" fxLayout="column" fxLayoutAlign="start" fxFill>



  <div class="login">
    <div class="text">
      <h1>Hachy</h1>
      <p>Candle Eggs with Machine Learning</p>
    </div>

    <div class="buttons">
      <a target="_blank" href="https://play.google.com/store/apps/details?id=ms.imagine.foodiemate">
        <button md-raised-button color="primary">Download the App</button>
      </a>
      <button md-raised-button color="" style="color:#3b5998" (click)="login('Facebook')">Login with Facebook</button>
    </div>
    <br>
    <div>
      <table>
        <tr>
          <th>Test</th>
          <th>Facebook Account</th>
        </tr>
        <tr>
          <td>Email</td>
          <td>scqerjhwwi_1523431167@tfbnw.net</td>
        </tr>
        <tr>
          <td>Passowrd</td>
          <td>hachEgg</td>
        </tr>
      </table>
    </div>
  </div>
  <!--<img style="margin:0 auto; height: 388px;" src="/assets/background1.png"/>-->

</div>
