<div>
  <!--
  <h2>Add new todo</h2>

  <form #todoForm="ngForm" (submit)="addNewTodo()">
    <div fxLayout="row" fxFill>
      <md-input-container fxFlex>
        <input name="todo" class="fill" placeholder="New todo item" required
          mdInput
          [(ngModel)]="todo"
          #todoControl
        />
      </md-input-container>

      <button type="submit" md-icon-button color="primary"
        [disabled]="todoForm.invalid"
      >
        <md-icon>send</md-icon>
      </button>
    </div>
  </form>

-->

  <div class="cards">
    <!-- To be added adding new Item online
      <div class="card" >
      <div>
        <img src="assets/upload.png" alt="Avatar" (click)="addEgg()">
        <div class="container">
          <h3>
            <b>Upload Image Here</b>
          </h3>
        </div>
      </div>
    </div>
    -->

    <div class="card" *ngFor="let item of todos | async" [class.active]="item.active" [class.done]="item.done"
      (mouseenter)="item.active = true" (mouseleave)="item.active = false">
      <div>
        <img [src]="getImgURL(item.imgURL)" alt="Avatar">
        <div class="container">
          <h3>
            <b>{{item.status | eggStatus}}</b>
          </h3>
          <p>
            {{item.eggTag}} @: {{((item.timestamp / 1000) | amFromUnix) | amDateFormat: 'DD.MM.YY HH:mm'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
